* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', Arial, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
  line-height: 1.6;
  background-color: transparent;
  padding: 0 2rem;
  /* 좌우 패딩 추가 */
  font-size: 14px;
}

/* Media query for tablets */
@media screen and (max-width: 1024px) {

  html,
  body {
    font-size: 12px;
    /* Set the base font size for tablet screens */
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {

  html,
  body {
    font-size: 10px;
    /* Set the base font size for mobile screens */
    padding: 0 0rem;
    /* 좌우 패딩 추가 */
  }
}