/* right_sidebar에 대한 스타일을 추가합니다. */
.contents_navigator {
    flex: 0.5;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 2px solid rgb(30, 37, 39);
}

.contents_navigator h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* 구분선을 추가하기 위한 스타일을 작성합니다. */
.contents_navigator>*:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

/* 방문자 정보 영역에 대한 스타일을 추가합니다. */
.visitors {
    font-size: 1rem;
    color: #333;
}

.contents {
    list-style-type: none;
}

.contents li {
    margin-bottom: 0.5rem;
}

.contents a {
    color: #333;
    text-decoration: none;
}

.contents a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 960px) {
    .contents_navigator{
        align-self: flex-end;
    }
}