/* right_sidebar에 대한 스타일을 추가합니다. */
.right_sidebar {
    flex: 0.5;
    padding: 2rem;
    border-radius: 5px;
}

.right_sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* 구분선을 추가하기 위한 스타일을 작성합니다. */
.right_sidebar>*:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

/* 구분선을 추가하기 위한 스타일을 작성합니다. */
.left_sidebar>*:not(:first-child) {
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


/* 방문자 정보 영역에 대한 스타일을 추가합니다. */
.visitors {
    font-size: 1rem;
    color: #333;
}

.recent_posts {
    list-style-type: none;
}

.recent_posts li {
    margin-bottom: 0.5rem;
}

.recent_posts a {
    color: #333;
    text-decoration: none;
}

.recent_posts a:hover {
    text-decoration: underline;
}
